.button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 5px;

    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

}

.whiteType{
    color: white;
    border: 1px solid #FFFFFF;
}

.blackType{
    color: black;
    border: 1px solid black ;
}

.activeButton{
    background: #FF6B01;
    border: none;
}

.shadowed{
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}