.header{
    background-color: #272e34;
    background-repeat: no-repeat;
    background-image: url('./bacground-image3-left.jpg'), url('./bacground-image3-right.jpg');
    background-position: top left, top right;

    @media screen and (min-width: 768px) {
        background-image: url('./bacground-image2-left.jpg'), url('./bacground-image2-right.jpg');
    }
    @media screen and (min-width: 1280px) {
        background-image: url('./bacground-image1-left.jpg'), url('./bacground-image1-right.jpg');
    }
    & > .container{
        height: 230px;  
        @media screen and (min-width: 768px) {
            height: 216px;
        }  
    }
}