.header{
    padding-top: 40px;
    height: 230px; 

    background-color: #272e34;
    background-repeat: no-repeat;
    background-image: url('./images/bacground-image3-left.jpg'), url('./images/bacground-image3-right.jpg');
    background-position: top left, top right;

    @media screen and (min-width: 768px) {
        height: 216px;
        background-image: url('./images/bacground-image2-left.jpg'), url('./images/bacground-image2-right.jpg');
    }
    @media screen and (min-width: 1280px) {
        background-image: url('./images/bacground-image1-left.jpg'), url('./images/bacground-image1-right.jpg');
    }

    & .logoButton{
        display: inline-flex;
        gap: 10px;
        align-items: center;
    }

    & .icon{
        width: 24px;
        height: 24px;
        fill: transparent;
        stroke: white;
        stroke-width: 2px;
        
    }

    & .title{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: white; 

        display: none;
        @media screen and (min-width: 768px) {
            display: inline-block;
        }
    }

    & .navigation{
        display: flex;
        justify-content:space-between;
    }



    & button{
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    & .buttonList{
        display: flex;
        gap: 40px;
        & button{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: white;
        }
    }

    & .searchForm{
        position: relative;
        margin-top: 54px;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        @media screen and (min-width: 768px) {
            width: 336px;
        }
        @media screen and (min-width: 1280px) {
            width: 394px;
        }
        & input{
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid white;
        }
        & button{
            position: absolute;
            top: 0;
            right: 0;
            & svg{
                width: 20px;
                height: 20px;
                fill: white;
            }
        }
    }
}